{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab7.css' %}">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/book">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/accounts/login/">Login</a>
    </li>
  </ul>
</nav>
</head>

<body>
	<script src="{% static 'js/jqueryku.js' %}"></script>
<div class="toggle"></div>
<div class="content">
    <h2>Halo Namaku Tongpooow</h2>
</div>


<ul class="accordion">
        <li class="accordion-item">
            <h4 class="accordion-thumb">activity</h4>
            <p class="accordion-panel">
                berangkat pagi - pulang malem everyday
            </p>
        </li>
        
        <li class="accordion-item">
            <h4 class="accordion-thumb">organization</h4>
            <div class="accordion-panel">
                <p>Staff Sponsorship COMPFEST - 2019</p>
                <p>Staff BEM Departemen Olahraga</p>
                <p>Staff Danus CGT</p>
                <p>Staff Dankom OH</p>
            </div>
        </li>
        
        <li class="accordion-item">
            <h4 class="accordion-thumb">achievement</h4>
            <p class="accordion-panel">
                not yet
            </p>
        </li>
    </ul>

	</body>
</html>