{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab9login.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/book">Books</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/accounts/login/">Login</a>
    </li>
  </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form method = 'POST'>
              	{%csrf_token %}
              	{{form.as_p}}
    <button class="btn btn-lg btn-primary btn-block">Login</button>
    <a class="btn btn-lg btn-block" href="{% url 'register_url' %}">Register</a>

    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>