{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab9login.css' %}">
</head>
<body>

	<h1>Welcome, {{user.username}}</h1>
	<a class="btn btn-lg btn-block" href="{% url 'logout' %}">Logout</a>

</body>
</html>