body{
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
    line-height: 1.5;
	max-width: 500px;
	background: #87ceeb;
}
body.night{
    background: #ffc0cb;
}

.toggle{
    position: absolute;
    top: 90px;
    right: 50px;
    background: #fff;
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active{
    background: #00151f;
    border: 2px solid #fff;
}
.toggle:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before{
    left: 27px;
    background: #fff;
}
.content{
    margin: 100px auto;
    width: 1000px;
}
h1{
    margin: 0 0 20px;
    padding: 0;
    color: #000;
    transition: 0.5s;
}
p{
    margin: 0;
    padding: 0;
    color: #000;
    transition: 0.5s;
}
body.night h1,
body.night h3,
body.night p{
    color: #fff;
}
.accordion {
	margin: 1rem 0;
	padding: 0;
	list-style: none;
	border-top: 1px solid #e5e5e5;
	background-color: #ffc0cb;
}

.accordion-item {
	border-bottom: 1px solid #e5e5e5;
}

body.night .accordion-item{
	background-color: #87ceeb;
}

/* Thumb */
.accordion-thumb {
	margin: 0;
	padding: .8rem 0;
	cursor: pointer;
	font-weight: normal;
}

/* Panel */
.accordion-panel {
	margin: 0;
	padding-bottom: .8rem;
	display: none;
}